@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mandali&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mandali&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap');

body {
    background-color: #0d1f23;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: #2E4ACC;
}

.offcanvas-end {
    background-color: #2E4ACC;
}

.container-title {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: azure;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

.search {
    margin-bottom: 80px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-success {
    color: #2E4ACC;
    border-color: #2E4ACC;
}

.form-control {
    width: 600px;
}

.container-eventos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;  /* Garante que os cards não ultrapassem a largura */
    justify-content: space-around;
    gap: 20px; /* Espaço entre os cards */
}

.card {
    display: flex;
    flex-direction: column;
    height: 350px;  /* Altura fixa */
    overflow: hidden;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
}

.card-body {
    overflow: auto;  /* Garante que o conteúdo não ultrapasse */
    flex-grow: 1;
}

.card img {
    object-fit: cover;  /* Garante que a imagem ocupe toda a largura e altura do card */
    height: 200px;  /* Defina uma altura para as imagens */
}

.col-md-4 {
    display: flex;
    width: 270px;
}